@model List<Group>;



@using (Html.BeginForm("Logout", "Home", FormMethod.Post))
{
    <p>User Info</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                   
                    <tr>
                        @*<th scope="row">1</th>*@
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        
                    </tr>
                }
        </tbody>
    </table>
    <hr />
    <button type="submit">LogOut</button>
    }