@model HomeVM;

<section id="login ">
    <div class="container d-flex justify-content-center mt-4">
        <div class="main row col-lg-10 d-flex justify-content-between">
            <div class="main_login col-lg-5">
                <div>
                    <p class="fs-1">Login to <span class="fw-bold">Account</span></p>
                    <p style="color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <form id="form" class="login col-lg-12 ">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div style="height: 30px; display: none;"> <span class="span_style">Bos Qoyma</span></div>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="myInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="myInput">
                        <input class="checkbox" type="checkbox" onclick="myFunction()"> Show Password
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between">
                        <div>
                            <!-- <input type="checkbox" class="checkbox form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label> -->
                        </div>
                        <!-- <a style="color: grey;" href="">Forget Password</a> -->
                    </div>
                    <button id="btn" class="btn btn-warning col-lg-12">Login</button>

                </form>
            </div>
            <div style="background-image: url(.//image/2.webp) " class="image login col-lg-5">
            </div>
        </div>
    </div>
</section>